<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqb.mappers.BankAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wqb.domains.BankAccount">
        <id column="id" property="id" />
        <result column="accountID" property="accountID" />
        <result column="bankAccount" property="bankAccount" />
        <result column="bankName" property="bankName" />
        <result column="bankType" property="bankType" />
        <result column="currency" property="currency" />
        <result column="subID" property="subID" />
        <result column="subCode" property="subCode" />
        <result column="subName" property="subName" />
        <result column="subFullName" property="subFullName" />
        <result column="createID" property="createID" />
        <result column="createName" property="createName" />
        <result column="createTime" property="createTime" />
        <result column="createTel" property="createTel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, accountID, bankAccount, bankName, bankType, currency, subID, subCode, subName, subFullName, createID, createName, createTime, createTel
    </sql>

</mapper>
