<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqb.mappers.ReceiptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wqb.domains.Receipt">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="account_id" property="accountId" />
        <result column="account_period" property="accountPeriod" />
        <result column="summary" property="summary" />
        <result column="unit_name" property="unitName" />
        <result column="number" property="number" />
        <result column="unit_price" property="unitPrice" />
        <result column="amount" property="amount" />
        <result column="tax_rate" property="taxRate" />
        <result column="tax_amount" property="taxAmount" />
        <result column="total_amount" property="totalAmount" />
        <result column="type" property="type" />
        <result column="date" property="date" />
        <result column="voucher_id" property="voucherId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="subject_code" property="subjectCode" />
        <result column="subject_name" property="subjectName" />
        <result column="subject_full_name" property="subjectFullName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, account_id, account_period, summary, unit_name, number, unit_price, amount, tax_rate, tax_amount, total_amount, type, date, voucher_id, create_time, update_time, subject_code, subject_name, subject_full_name
    </sql>

</mapper>
