@charset "utf-8";

body {
	background: #f7f7f7;
}

#nav {
	width: 100%;
	height: 60px;
	line-height: 60px;
	z-index: 1;
	background: #ff3308;
	position: fixed;
	top: 0;
	left: 0;
}

#balanceHint {
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 50%;
	top: 18px;
}
/*#nav .left {
    position: relative;
    width: 230px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}*/
.crumbs, .backHomepage {
	display: none;
}

.backHomepage {
	width: 50px !important;
}

.backHomepage a {
	background: url(../img/return.png) no-repeat;
	background-position: 10px;
}

#nav .nav_logo {
	position: absolute;
	/*left: 20px;*/
	width: 50%;
	border-radius: 3px;
}

#nav .nav_logo a {
	width: 100px;
	height: 100%;
	display: block;
}

#nav .nav_logo a img {
	display: block;
}

#nav .nav_logo a h1 {
	font-size: 18px;
	color: #555;
	margin-top: -16px;
	letter-spacing: 1px;
	display: block;
}

#nav .right {
	position: relative;
	font-size: 18px;
	color: #fff;
}

#nav .cus {
	/*display: none;
  margin-left: 245px;
  padding-left: 10px;
  text-align: left;*/
	width: auto !important;
	background: url(../img/sanjiao.png) no-repeat 0 center;
	padding-right: 16px;
	margin-right: 25px;
	background-position: right;
}

#nav .cus .selectCus {
	display: inline-block;
	max-width: 300px;
	vertical-align: top;
}

#nav .cus .icon-arrow {
	font-size: 24px;
}

#nav .right_set {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 15px;
}

#nav .left_set {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 178px;
}

.left_set .crumbs {
	font-size: 20px;
	margin: 0 34px 0 0;
	font-weight: 600;
	color: #fff;
}

#nav .right_set li, #nav .left_set li {
	float: left;
	width: 140px;
	height: 60px;
	text-align: center;
}

#nav .right_set li a, #nav .left_set li a {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #ffffff;
}

#nav .right_set .user, #nav .left_set .user {
	padding: 0 12px;
	width: auto;
	min-width: 120px;
	max-width: 270px;
	border-right: 1px solid #fff;
	margin: 18px 0;
	height: 24px;
	line-height: 24px;
}

#nav .right_set .user:nth-last-child(1) {
	border-right: none;
}

#nav .right_set .user:nth-last-child(4) {
	background: url(../img/guanliyuan.png) no-repeat 0 center;
	background-position: 18px;
	display: none;
}

#nav .right_set .user:nth-last-child(3) {
	background: url(../img/chaoji.png) no-repeat 0 center;
	background-position: left;
	margin-left: 30px;
	display: none;
}

#nav .right_set .user:nth-last-child(2) {
	background: url(../img/houtaiguanli.png) no-repeat 0 center;
	background-position: 9px;
	margin-left: 20px;
}

#nav .right_set .date-select, #nav .left_set .date-select {
	position: relative;
	width: 180px;
	line-height: 52px;
}

#nav .right_set .date-select .layui-icon, #nav .left_set .date-select .layui-icon
	{
	position: absolute;
	z-index: -1;
	right: 5px;
	top: 4px;
	color: #fff;
}

#nav .right_set .wMonth, #nav .left_set .wMonth {
	margin: 16px 0;
	height: 28px;
	line-height: 26px;
	font-size: 16px;
	border: solid 1px #f1f1f1;
	border: solid 1px rgba(255, 255, 255, .2);
	color: #fff;
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff,
		endColorstr=#33ffffff);
	background-color: rgba(255, 255, 255, .2);
}

#nav .right_set .wMonth::-webkit-input-placeholder {
	color: #fff;
}

.icon-logout {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 100%;
	background: url(../img/icon-logout.png) no-repeat 0 center;
}

/*  客户选择 弹窗 */
.cusSel {
	background: #fcfcfc;
	color: #333;
	padding: 20px;
	margin-top: 12px;
}

.cusSel .layui-table {
	margin: 0;
}

.cusSel td:first-child, .cusSel th:first-child {
	padding: 5px 20px;
	height: 40px;
	text-align: left;
}

.cusSel .tablebody2 {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}

.cusSel .tablebody2 tr:first-child td {
	border-top: 0;
}

.cusSel .tablebody2 td:last-child a {
	padding: 10px;
}

.cusSel .upward {
	position: absolute;
	top: -20px;
	left: 48px;
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 20px solid white;
	border-left: 10px solid transparent;
}

.cusSel i.icon-guanbi {
	position: absolute;
	top: -20px;
	right: 4px;
	font-size: 24px;
	color: #bdb9b9;
}

.cusSel ::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.cusSel .head {
	padding-right: 0;
	border-right: 1px solid #ddd;
}

/* 左边菜单栏 */

/* 导航 */
.nav-floor {
	position: fixed;
	top: 61px;
	left: 0;
	width: 100%;
	height: 150px;
	background-color: #f7f7f7;
	z-index: 999;
	/* border-bottom: 1px solid #ff3308; */
}

.navigation {
	position: relative;
	line-height: 1;
	padding: 10px 0;
	height: 90px;
}

.navigation>a {
	position: relative;
	display: block;
	font-size: 14px;
	color: #b3b3b3;
}

.navigation a#nav_tickets, .navigation a#nav_assets, .navigation a#nav_certificate,
	.navigation a#nav_report, .navigation a#nav_taxReturn, .navigation a#nav_set
	{
	font-size: 26px;
	float: left;
	width: 24%;
	height: 70px;
	margin-left: 1.5%;
	padding: 22px 0 0 60px;
	box-sizing: border-box;
	background-size: 100% 100% !important;
}

.navigation a#nav_tickets {
	background: url(../img/lipiaoN.png) no-repeat;
}

.navigation a#nav_certificate {
	background: url(../img/pingzhengN.png) no-repeat;
	padding-left: 80px;
	margin-left: 0;
}

.navigation a#nav_report {
	background: url(../img/baoshuiN.png) no-repeat;
	padding-left: 80px;
	margin-left: 0;
}

.navigation a#nav_set {
	background: url(../img/wanchengN.png) no-repeat;
	padding-left: 80px;
	margin-left: 0%;
}

.navigation a#nav_tickets:before, .navigation a#nav_assets:before,
	.navigation a#nav_certificate:before, .navigation a#nav_report:before,
	.navigation a#nav_taxReturn:before, .navigation a#nav_set:before {
	background-size: 100% 100% !important;
	color: #fff;
}

.navigation a#nav_tickets:before {
	background: url(../img/lipiaoY.png) no-repeat;
}

.navigation a#nav_certificate:before {
	background: url(../img/pingzhengY.png) no-repeat;
}

.navigation a#nav_report:before {
	background: url(../img/baoshuiY.png) no-repeat;
}

.navigation a#nav_taxReturn:before {
	background: url(../img/wanchengY.png) no-repeat;
}

/*.navigation a#nav_set:before {
  content: '5';
}*/
.navigation .blue {
	color: #fff;
}

.navigation .green:nth-child(1) {
	color: #fff;
	background: url(../img/lipiaoY.png) no-repeat !important;
	background-size: 100% 100%;
}

.navigation .green:nth-child(2) {
	color: #fff;
	background: url(../img/pingzhengY.png) no-repeat !important;
	background-size: 100% 100%;
}

.navigation .green:nth-child(3) {
	color: #fff;
	background: url(../img/baoshuiY.png) no-repeat !important;
	background-size: 100% 100%;
}

.navigation .green:nth-child(4) {
	color: #fff;
	background: url(../img/wanchengY.png) no-repeat !important;
	background-size: 100% 100%;
}

.navigation .blue:before {
	background-color: #539dfc;
	-webkit-box-shadow: 0 0 6px 2px #539dfc;
	box-shadow: 0 0 6px 2px #539dfc;
}

/*.navigation .green:before {
  background-color: #6bbe42;
  -webkit-box-shadow: 0 0 6px 2px #6bbe42;
  box-shadow: 0 0 6px 2px #6bbe42;
}*/

/*.nav_set{
  position: relative;
  display: block;
  padding: 12px 0 12px 40px;
  line-height: 1;
  font-size: 16px;
  color: red;
}
.nav_set:before{
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -11px;
  width: 22px;
  height: 22px;
  border-radius: 50px;
  background-color: #ff8f33;
}
*/
#nav .user #getAdmin {
	border: none;
	background-color: inherit;
	color: #fff;
	width: 100%;
	height: 24px;
	cursor: pointer;
	font-size: 18px;
	/*padding: 0px 5px;*/
}

.selectSel {
	height: 30px;
	margin: -12px 0 8px;
}

.selectSel input {
	height: 26px;
	width: 260px;
	padding-left: 12px;
	border: 1px solid #e2e2e2;
}

#selectSel {
	width: 60px;
	height: 30px;
	margin-left: 10px;
	border: 0;
	border-radius: 2px;
	vertical-align: top;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	background-color: #539dfc;
}

.ticketsList {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ff3308;
	box-sizing: border-box;
}

.ticketsList li {
	/*display: none;*/
	float: left;
	padding: 0 20px;
	height: 40px;
}

.ticketsList ul {
	margin-left: 20px;
}

.tabColor {
	box-sizing: border-box;
	border-radius: 10px 10px 0 0;
	border: 1px solid #ff3308;
	border-bottom-color: #fff;
	background: #fff;
	color: #ff3308;
}

.tabColor a {
	color: #ff3308;
}

.mian-tbody tr {
	cursor: pointer;
}

.setUpThe {
	background-image: url(../img/shezhi.png);
	background-repeat: no-repeat;
	background-position: 26px center;
}

.mark, .administrator {
	display: none;
}

#assetsDataT,
#profitDataT{
	height: auto;
    overflow: auto;
    margin-top: 90px;
}
#accountDataT,
#dataList,
#salaryList{
	height: auto;
    overflow: auto;
    margin-top: 60px;
}
#subMessage{
	height: auto;
    overflow: auto;
    margin-top: 100px;
}
#assetsDataT .layui-table,
#profitDataT .layui-table,
#subMessage .layui-table,
#accountDataT .layui-table,
#dataList .layui-table{
	margin-top: 0px !important;
}
.table-box .fixed-head{
	padding-top: 0px;
    margin-top: -37px;
}
#fixedDOM2,
#head1,
#head2{
	margin-top: -76px;
}
#fixedDOM2{
	padding-top: 41px;
}
#fixedDOM1{
	margin-top: -78px;
	padding-top: 0px;
}

.templateType,
.newTemplate,
.choiceTemplate{
	display: none;
}